body{
    color:white;
    background:black;
    margin: 0px;
}

header{
     border-bottom: solid 2px rgb(233, 30, 99);
     padding: 20px; 
     font-size: 32px;
     color: rgb(233, 30, 99);
}

section {
    background: rgb(136, 0, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px;
}
